
<h1>
    Add Order
    
</h1>
<h4>Category / <strong>Add Order</strong></h4>

<mat-card>
    <mat-card-content>
        <mat-icon>more_vert</mat-icon>
        
        <form [formGroup]="form">

            <bb-smartish-text label="Total" [control]="form.total"></bb-smartish-text>
            
            <bb-smartish-select label="Payments" [control]="form.payment" [options]="form.paymentOptions"></bb-smartish-select>
            
            <bb-smartish-number label="# of Items" [control]="form.items"></bb-smartish-number>

            <bb-smartish-text label="First Name" [control]="form.Customer.firstName"></bb-smartish-text>

            <bb-smartish-text label="Last Name" [control]="form.Customer.lastName"></bb-smartish-text>

            <bb-smartish-phone label="Phone" [control]="form.Customer.phone"></bb-smartish-phone>

            <bb-smartish-email label="Email" [control]="form.Customer.email"></bb-smartish-email>

            <bb-smartish-text label="Address Line #1" [control]="form.Customer.Address.addressLine1"></bb-smartish-text>

            <bb-smartish-text label="City" [control]="form.Customer.Address.city"></bb-smartish-text>

            <bb-smartish-select label="State" [control]="form.Customer.Address.state" [options]="form.Customer.Address.stateOptions"></bb-smartish-select>

            <bb-smartish-number label="Zip" [control]="form.Customer.Address.zip"></bb-smartish-number>

            <button mat-raised-button routerLink="/orders">Cancel</button>
            
            <button class="save" mat-raised-button color="primary" (click)="save()">Save</button>
        </form>


    </mat-card-content>
</mat-card>
