
<h1>
    Add Order
    
</h1>
<h4>Category / <strong>Add Order</strong></h4>

<mat-card>
    <mat-card-content>
        <mat-icon>more_vert</mat-icon>
        
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Total</mat-label>
                <input type="text" matInput [formControl]="form.total" />
                <mat-error></mat-error>
            </mat-form-field>
            
            
            <mat-form-field>
                <mat-label>Payments</mat-label>
                <mat-select [formControl]="form.payment">
                    <mat-option *ngFor="let payment of form.paymentOptions" [value]="payment">{{ payment }}</mat-option>
                </mat-select>
                <mat-error></mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label># of Items</mat-label>
                <input matInput type="number" [formControl]="form.items" />
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput type="text" [formControl]="form.Customer.firstName" />
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput type="text" [formControl]="form.Customer.lastName" />
                <mat-error></mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput type="tel" [formControl]="form.Customer.phone" />
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" [formControl]="form.Customer.email" />
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Address Line #1</mat-label>
                <input matInput type="text" [formControl]="form.Customer.Address?.addressLine1" />
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput type="text" [formControl]="form.Customer.Address?.city" />
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select [formControl]="form.Customer.Address.state">
                    <mat-option *ngFor="let state of form.Customer.Address.stateOptions" [value]="state">{{ state }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Zip</mat-label>
                <input matInput type="number" [formControl]="form.Customer.Address?.zip" />
                <mat-error></mat-error>
            </mat-form-field>

            <button mat-raised-button routerLink="/orders">Cancel</button>
            
            <button class="save" mat-raised-button color="primary" (click)="save()">Save</button>
        </form>


    </mat-card-content>
</mat-card>
