<section id="menu">
    <bb-smartish-logo></bb-smartish-logo>

    <bb-smartish-avatar></bb-smartish-avatar>

    <h3>Menu</h3>
    <hr />

    <mat-list>
        <mat-list-item><a routerLink="/catalog">Catalog</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a routerLink="/orders">Orders</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a routerLink="customers">Customers</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a routerLink="billing">Billing</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a routerLink="shipping">Shipping</a></mat-list-item>
      </mat-list>

</section>