
<h1>
    Add Product
    
</h1>
<h4>Category / <strong>Add Product</strong></h4>

<mat-card>
    <mat-card-content>
        <mat-icon>more_vert</mat-icon>
        
        <form [formGroup]="form">

            <bb-smartish-text label="Name" [control]="form.name"></bb-smartish-text>

            <bb-smartish-textarea label="Description" [control]="form.description"></bb-smartish-textarea>

            <bb-smartish-number label="Quantity" [control]="form.quantity"></bb-smartish-number>

            <bb-smartish-select label="Available Sizes" [control]="form.sizes" [options]="form.sizeOptions"></bb-smartish-select>

            <bb-smartish-number label="Price" [control]="form.price"></bb-smartish-number>

            <bb-smartish-text label="Sku" [control]="form.sku"></bb-smartish-text>

            <button mat-raised-button routerLink="/catalog">Cancel</button>
            
            <button class="save" mat-raised-button color="primary" (click)="save()">Save</button>
        </form>


    </mat-card-content>
</mat-card>
